.container-type--awards_list {
  padding-top: 80px;

  .paragraph--container--header {
    @extend .h1--without-border;
    
    margin-bottom: 35px;
    font-size: 57px;
    text-align: center;
  }

  .view-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1080px;
    margin: 0 auto;
    padding-top: 70px;
    text-align: center;
  }

  .views-row {
    display: flex;
    width: 360px;
    margin-bottom: 70px;
  }

  .layout--onecol {
    max-width: 245px;
    margin: 0 auto;
  }

  .field--name-field-image {
    margin-bottom: 10px;
  }

  .image-style-award {
    display: block;
    width: 190px;
    margin: 0 auto;
  }

  .field--name-node-title {
    @extend .h2;

    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100px;
    margin-bottom: 10px;
    color: $c-gold;
    line-height: 1.2;

    @media #{$m-to-sm} {
      min-height: 60px;
    }
  }

  .text-formatted {
    font-size: 18px;
  }
}
