.paragraph--container.container-type--awards {
  width: 100%;
  min-height: 320px;
  height: 320px;
  display: flex;
  align-items: center;

  .container {
    width: 100%;
    max-width: 1526px;
  }

  .slick--view--content-list {
    max-width: 1400px;
    margin: 0 auto;
  }

  .slick__slider {
    max-width: 1200px;
    width: calc(100% - 100px);
    margin: 0 auto;
  }

  .image-style-award {
    display: block;
    margin: 0 auto;
    text-align: center;
  }

  .slick-arrow {
    @media #{$m-to-s} {
      width: 28px;
      height: 28px;
    }

    &::before {
      @media #{$m-to-s} {
        width: 28px;
        height: 28px;
      }
    }

    &::after {
      @media #{$m-to-s} {
        top: 50%;
        width: 7px;
        height: 7px;
      }
    }
  }

  .slick-prev {
    &::after {
      @media #{$m-to-s} {
        left: 12px;
      }
    }
  }

  .slick-next {
    &::after {
      @media #{$m-to-s} {
        right: 12px;
      }
    }
  }
}
