.paragraph--banner {
  position: relative;
  min-height: 375px;
  background-color: $c-black2;

  &--image,
  .colorapi_color_display {
    @extend .covering-image--banner;

    img {
      opacity: 0.2;
    }
  }

  &--content {
    position: absolute;
    z-index: 3;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    color: $secondary-text-color;
    text-align: center;
  }

  &--title {
    @extend .h1--without-border;

    padding: 15px 0;
    font-size: 57px;

    @media #{$m-from-lm} {
      padding: 10px 0;
    }
  }

  &--subtitle {
    @extend .h2;

    padding: 10px 0;
    font-size: 40px;
  }

  &--link {
    position: absolute;
    top: -50%;
    width: 100%;
    height: 200%;

    a {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      font-weight: 500;
      color: $c-gold;
      z-index: 5;

      &::after {
        content: "";
        display: block;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: $right-arrow-width;
        height: $right-arrow-height;
        background-image: url("../img/sprite.png");
        background-repeat: no-repeat;
        background-position: $right-arrow-offset-x $right-arrow-offset-y;
      }
    }
  }
}
