.button {
  display: block;
  position: relative;
  width: 260px;
  height: 52px;
  margin: 0;
  padding-left: 60px;
  border: 1px solid $c-gold;
  border-radius: 26px;
  font-size: 16px;
  font-weight: 500;
  line-height: 3.125;
  text-align: left;
  text-decoration: none;
  cursor: pointer;

  @media #{$m-from-2l} {
    width: 196px;
    padding-left: 33px;
  }

  &::after {
    //@include sprite($button-arrow);

    @include sprite-position($button-arrow);
    @include sprite-width($button-arrow);
    @include sprite-height($button-arrow);

    content: '';
    position: absolute;
    top: 50%;
    right: 60px;
    transform: translateY(-50%);
    background-image: url('../img/sprite.png');
    background-repeat: no-repeat;

    @media #{$m-from-2l} {
      right: 33px;
    }
  }

  &__primary {
    @extend .button;

    background-color: transparent;
    color: $c-gold;
    transition: box-shadow 0.3s ease;

    &:hover {
      box-shadow: 0 0 5px $c-gold;
    }
  }

  &__secondary {
    @extend .button;

    background-color: $c-gold;
    color: $secondary-text-color;
    transition: background-color 0.3s ease;

    &::after {
      filter: brightness(0%) invert(100%);
    }

    &:hover {
      background-color: saturate(darken($c-gold, 12%), 20%);
    }
  }

  &--disabled {
    @extend .button;

    opacity: 0.5;
  }
}
