.block-header-contacts {
  display: none;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;

  @media #{$m-from-l} {
    display: flex;
  }

  @media #{$m-from-xl} {
    margin-right: 50px;
  }

  &-phone {
    margin-right: 20px;
    font-weight: 500;
  }

  &-phone a {
    transition: color 0.3s ease;

    &::before {
      content: '\f095';
      margin-right: 10px;
      font-family: FontAwesome, sans-serif;
      font-size: 18px;
    }
  }

  &-email a {
    color: rgba($main-text-color, 0.5);
    transition: color 0.3s ease;
  }

  &-phone a,
  &-email a {
    &:hover {
      color: $c-gold;
    }
  }
}
