.paragraph--contact-form {
  margin-top: 50px;
  margin-bottom: 70px;

  @media #{$m-from-l} {
    margin-top: 150px;
    margin-bottom: 200px;
  }

  &--title {
    @extend .h2;

    margin-bottom: 30px;
    text-align: center;
  }

  .webform-submission-contact-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .form-item,
  .form-actions {
    margin: 0;
  }

  .form-item {
    display: flex;
    width: 100%;
  }

  .form-actions {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .form-item-email,
  .form-item-phone {
    width: 100%;
    margin-bottom: 20px;

    @media #{$m-from-lm} {
      width: 50%;
      max-width: 410px;
      margin-bottom: 40px;
    }
  }
  
  @media #{$m-from-lm} {
    .form-item-email {
      padding-right: 35px;
    }
  }

  @media #{$m-from-lm} {
    .form-item-phone {
      padding-left: 35px;
    }
  }

  input:not([type="submit"]) {
    width: 100%;
    padding: 15px 20px;
  }

  .form-textarea-wrapper {
    width: 100%;
  }

  .form-textarea {
    margin-top: 40px;
    padding: 0 20px;

    @media #{$m-from-lm} {
      margin-top: 60px;
    }

    @media #{$m-from-l} {
      margin-top: 140px;
    }
  }

  .form-submit {
    margin-top: 40px;

    @media #{$m-from-l} {
      margin-top: 70px;
    }
  }
}
