.webform-confirmation-modal {
  border-radius: 10px;

  .ui-dialog-titlebar {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    text-align: center;
  }
  
  .ui-dialog-content {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .ui-dialog-titlebar-close {
    padding: 10px 20px;
  }
}
