.covering-image {
  @media #{$m-from-l} {
    height: 100%;
    width: 100%;

    .media--type-image {
      position: relative;
      height: 100%;
      width: 100%;
    }

    img {
      position: absolute;
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
}

.covering-image--banner {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;

  .media--type-image {
    position: relative;
    z-index: 2;
    height: 100%;
    width: 100%;
  }

  img {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}
