.paragraph--slider-image {
  position: relative;
  max-width: 1526px;
  width: 100%;
  min-height: 590px;
  margin-left: auto;
  margin-right: auto;
  background-color: $c-lightblue1;

  @media #{$m-from-2l} {
    width: 100%;
    overflow: hidden;
    min-height: 580px;
  }

  .paragraph--slider-image--content {
    position: relative;
    width: 100%;
    height: 100%;
    padding-top: 50px;

    @media #{$m-from-2l} {
      padding-top: 120px;
      padding-bottom: 150px;
    }

    .container--small {
      max-width: 450px;
      box-sizing: content-box;

      @media #{$m-from-lm} {
        width: 50%;
      }

      @media #{$m-from-xl} {
        width: 50%;
        margin: 0;
        padding-right: 150px;
      }
    }

    .paragraph--slider-image--title {
      @extend .h1--without-border;

      margin-bottom: 15px;

      @media #{$m-from-2l} {
        margin-bottom: 25px;
      }
    }

    .paragraph--slider-image--text {
      @extend .text--secondary;

      margin-bottom: 30px;
      font-size: 18px;

      @media #{$m-from-2l} {
        margin-bottom: 65px;
      }
    }

    .paragraph--slider-image--link a {
      @extend .button__primary;
    }
  }

  .paragraph--slider-image--background {
    position: absolute;
    height: 100%;
    width: 100%;

    .media--type-image {
      position: relative;
      height: 100%;
      width: 100%;
    }

    img {
      position: absolute;
      left: 50%;
      bottom: 0;
      transform: translateX(-50%);
      height: auto;

      @media #{$m-from-2l} {
        height: 100%;
      }

      @media #{$m-from-xl} {
        right: 0;
        height: 100%;
        object-fit: cover;
        object-position: 100% 50%;
      }
    }
  }

  &-content-alignment-center {
    .paragraph--slider-image--content {
      .container--small {
        margin: 0 auto;
        text-align: center;

        @media #{$m-from-xl} {
          width: 50%;
          padding: 0;
        }
      }

      .paragraph--slider-image--link a {
        margin: 0 auto;
      }
    }
  }

  &-content-alignment-right {
    .paragraph--slider-image--content {
      .container--small {
        float: right;
        text-align: right;
  
        @media #{$m-from-xl} {
          width: 50%;
          margin: 0;
          padding-left: 150px;
          padding-right: 0;
        }
      }

      .paragraph--slider-image--link a {
        margin-right: 0;
        margin-left: auto;
      }
    }
  }
}
