input {
  @extend .text--large;

  border: 0;
  border-bottom: 1px solid rgba($c-black2, 0.3);
  transition: border-bottom 0.3s;

  &:-moz-ui-invalid {
    box-shadow: none;
  }
}

input[type="submit"],
.form-submit {
  @extend .button__secondary;
  
  padding: 0;
  text-align: center;

  &::after {
    display: none;
  }
}

textarea {
  @extend .text--large;

  height: 0;
  border: 0;
  border-bottom: 1px solid rgba($c-black2, 0.3);
  transition: border-bottom 0.3s;

  &:-moz-ui-invalid {
    box-shadow: none;
  }
}

input:focus,
textarea:focus,
select:focus {
  border-bottom: 1px solid $c-gold;
}

input.invalid,
textarea.invalid,
select.invalid,
.form-item input.error,
.form-item textarea.error,
.form-item select.error {
  border: 0;
  border-bottom: 1px solid $c-red;
}
