.container-type--jobs {
  padding-top: 80px;
  padding-bottom: 100px;

  .paragraph--container--header {
    @extend .h1--without-border;

    margin-bottom: 60px;
    font-size: 57px;
    text-align: center;
  }
}

.view-display-id-content_list_job {
  max-width: 910px;
  margin: 0 auto;

  .views-row > .views-row {
    margin-bottom: 10px;
    box-shadow: 1px 2px 20px rgba(7, 10, 13, 0.1);
  }

  .views-accordion-header {
    display: grid;
    grid-template-columns: auto 20px;
    grid-column-gap: 20px;
    align-items: center;
    min-height: 70px;
    border: 0;
    padding: 10px 30px;
    background-color: $c-white;

    .field-content {
      color: $c-gold;
      font-size: 30px;
      font-weight: 500;
    }

    .ui-icon,
    .ui-icon-triangle-1-e {
      position: absolute;
      top: 50%;
      right: 30px;
      transform: translateY(-75%) rotate(45deg);
      width: 16px;
      height: 16px;
      margin: 0;
      box-shadow: -2px -2px $c-gold inset;
      background-image: none;
      transition: transform 0.3s;
    }
  }

  .ui-state-active .ui-icon {
    transform: translateY(-25%) rotate(-135deg);
  }

  .ui-accordion-content {
    border: 0;
    padding: 5px 34px 25px;

    .views-field-body {
      margin-bottom: 25px;
      font-size: 18px;
    }

    .views-field-field-wage {
      float: left;
      font-size: 30px;
      font-weight: 500;

      @media #{$m-to-s} {
        float: none;
        margin-bottom: 10px;
      }

      .field-content {
        height: 52px;
        line-height: 52px;
      }
    }

    .views-field-field-link {
      float: right;

      @media #{$m-to-s} {
        float: none;
      }

      a {
        @extend .button__primary;

        @media #{$m-to-l} {
          max-width: 212px;
          padding-left: 33px;
        }
      }

      a::after {
        @media #{$m-to-l} {
          right: 33px;
        }
      }
    }
  }
}
