.paragraph--container.container-type--latest_news {
  padding-top: 60px;
  padding-bottom: 140px;
  
  @media #{$m-from-2l} {
    padding-top: 125px;
  }

  .container {
    position: relative;
  }

  .paragraph--container--header {
    display: flex;
    flex-direction: row;
    padding-bottom: 40px;

    @media #{$m-from-m} {
      justify-content: center;
    }

    @media #{$m-from-2l} {
      justify-content: space-between;
    }
  }

  .paragraph--container--title {
    @extend .h2--with-border;
  }

  .paragraph--container--link {
    margin-top: 5px;

    @media #{$m-to-l} {
      position: absolute;
      bottom: -90px;
      left: 50%;
      transform: translateX(-50%);
    }

    a {
      @extend .button__primary;

      @media #{$m-from-2l} {
        width: 216px;
      }
    }
  }

  .paragraph--container--content {
    .view-content {
      display: flex;
      flex-wrap: wrap;

      @media #{$m-from-l} {
        margin-left: -45px;
      }
    }

    .views-row {
      max-width: 100%;
      flex: 100%;
      margin-bottom: 20px;
      
      @media #{$m-from-l} {
        max-width: 33.33333%;
        flex: 33.33333%;
        padding-left: 45px;
      }
    }

    .layout__region--content {
      position: relative;
    }

    .field--name-node-link,
    .field--name-node-link a {
      position: absolute;
      width: 100%;
      height: 100%;
    }

    .field--name-field-teaser-image {
      margin-bottom: 20px;
    }

    .field--name-node-title {
      @extend .h3;

      text-transform: uppercase;
    }

    .field--name-dynamic-token-fieldnode-news-creation-date {
      @extend .text--tertiary;
    }

    .field--type-text-long {
      font-size: 20px;
      font-weight: normal;
      line-height: 1.7;
      letter-spacing: 0.88px;

      @media #{$m-to-sm} {
        font-size: 18px;
      }
    }
  }
}
