.block-local-tasks-block {
  .tabs.primary {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    @media #{$m-from-m} {
      flex-direction: row;
      justify-content: center;
    }

    a {
      color: rgba($main-text-color, 0.7);
      font-size: 18px;
    }

    li.is-active a {
      color: $main-text-color;
    }
  }
}
