.site-logo {
  display: block;
  position: relative;

  &::after {
    content: '&';
    position: absolute;
    top: 50%;
    left: 50%;
    color: $secondary-text-color;
    transform: translate(-50%, -50%);
    font-family: DroidSerifItalic, serif;
    font-size: 50.5px;

    @media #{$m-from-xxl} {
      font-size: 73px;
    }
  }

  img {
    width: 70px;
    height: 70px;
    min-width: 70px;
    min-height: 70px;

    @media #{$m-from-xxl} {
      width: auto;
      height: auto;
    }
  }
}
