.block-system-main-block > .layout--onecol {
  padding-top: 60px;
  padding-bottom: 60px;

  @media #{$m-from-2l} {
    padding-top: 100px;
    padding-bottom: 200px;
  }

  .layout__region--content {
    max-width: 1000px;
    margin: 0 auto;
  }

  .field--name-node-title {
    max-width: 730px;
    margin: 0 auto;
    padding: 0 15px;

    h2 {
      margin-bottom: 30px;
      line-height: 1.08;

      @media #{$m-from-lm} {
        font-size: 50px;
      }

      @media #{$m-from-2l} {
        margin-bottom: 65px;
      }
    }
  }

  .field--name-dynamic-token-fieldnode-content-creation-date {
    max-width: 730px;
    margin: 0 auto;
    margin-bottom: 30px;
    padding: 0 15px;
    font-size: 18px;
  }

  .paragraph--text-element {
    margin-bottom: 60px;

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  .paragraph--text-element--content {
    margin-bottom: 0;
  }

  .field--name-field-media-image {
    margin: 60px 0;

    img {
      display: block;
      margin: 0 auto;
    }
  }

  .paragraph--type--media-element {
    margin-bottom: 20px;

    iframe {
      height: 280px;
    }
  }

  .container {
    max-width: 730px;
    margin: 0 auto;
    padding: 0 15px;
  }
}
