.menu-button {
  position: relative;
  height: 14px;
  padding: 10px;
  box-sizing: content-box;
  cursor: pointer;

  @media #{$m-from-m} {
    grid-row-gap: 11px;
    height: 28px;
    padding: 0;
    box-sizing: inherit;
  }

  @media #{$m-from-l} {
    display: none;
  }

  &::before,
  &::after,
  .icon {
    display: block;
    width: 22px;
    height: 2px;
    margin-bottom: 4px;
    background-color: rgba($c-black, 0.2);
    transition: transform 0.3s;

    @media #{$m-from-m} {
      width: 44px;
      margin-bottom: 11px;
    }
  }

  &::before,
  &::after {
    content: '';
  }

  /*
  &.close {
    &::before {
      transform: rotate(-45deg) translate(-3px, 5px);

      @media #{$m-from-m} {
        transform: rotate(-45deg) translate(-8px, 10px);
      }
    }

    .icon {
      transform: translateX(-500%);
    }

    &::after {
      transform: rotate(45deg) translate(-4px, -5px);

      @media #{$m-from-m} {
        transform: rotate(45deg) translate(-8px, -10px);
      }
    }
  }
  */
}
