.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  transform: translateX(-100%);
  z-index: 160;
  width: auto;
  min-width: 40%;
  max-width: 75%;
  height: 100%;
  padding-top: 50px;
  background-color: $c-black2;
  overflow-y: scroll;
  transition: transform 0.4s ease;

  @media #{$m-to-sm} {
    min-width: 70%;
  }

  @media #{$m-from-l} {
    display: none;
  }

  &.is-open {
    transform: translateX(0%);
    transition: transform 0.4s ease;
  }

  .container {
    max-width: 340px;

    @media #{$m-to-m} {
      width: 100%;
    }
  }

  .block-header-contacts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    color: rgba($c-white, 0.5);

    &-phone {
      margin-right: 0;
      margin-bottom: 10px;
    }

    &-email {
      margin-bottom: 10px;
    }
  }

  .block-header-contacts a {
    display: inline-block;
    padding: 5px 0;
    line-height: 1;
    color: rgba($c-white, 0.5);
  }

  .navigation {
    .menu a,
    .menu a.is-active {
      font-size: 18px;
      color: $secondary-text-color;
    }

    .block-social-media-links a {
      display: inline-block;
      padding: 5px 0;
    }
  }

  .block-header-contacts a:hover {
    color: $c-gold1;
  }

  .menu a:hover {
    color: $c-gold1;
  }

  .block-social-media-links {
    display: flex;
    justify-content: center;
    padding-bottom: 20px;

    li {
      padding: 0;
      line-height: 1;
    }
  }
}
