.navigation {
  display: flex;
  align-items: center;

  ul.menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: calc(100% + 20px);
    min-height: 60px;
    margin: 0 -10px;
    padding: 0 0 10px 0;
    list-style: none outside;
    text-align: center;

    @media #{$m-from-l} {
      flex-direction: row;
      padding: 0;
    }

    .menu-item,
    .menu__item {
      padding: 0 10px;
    }

    a {
      display: block;
      padding: 10px 0;
      font-size: 15px;
      text-align: center;
      text-decoration: none;
      letter-spacing: 0.75px;
      transition: color 0.3s;

      .is-active,
      &:hover {
        color: $c-gold;
      }
    }
  }
}

/* stylelint-disable-next-line */
.region-header-bottom ul.menu a {
  font-size: 15px;
  color: rgba($main-text-color, 0.6);
  transition: color 0.3s;

  &:hover {
    color: $c-gold;
  }
}
