.view-display-id-content_list_lecture .layout--twocol,
.node--type-news.ds-2col {
  display: flex;
  flex-direction: column;
  max-width: 1090px;
  margin: 0 auto;
  margin-bottom: 50px;

  @media #{$m-from-m} {
    display: block;
  }

  @media #{$m-from-l} {
    display: flex;
    flex-direction: row;
    margin-bottom: 100px;
  }

  .group-left,
  .layout__region--first {
    width: 100%;
    margin-bottom: 20px;

    @media #{$m-from-m} {
      float: left;
      width: 35%;
      margin: 10px 0;
      padding: 0 20px;
    }
  }

  .group-right,
  .layout__region--second {
    float: none;
    width: 100%;
    margin-bottom: 15px;
    padding-left: 20px;
    padding-right: 20px;
    transition: all 0.3s ease;

    @media #{$m-from-l} {
      width: 65%;
    }

    @media #{$m-from-xl} {
      padding-left: 70px;
    }
  }

  > .layout__region--first,
  > .layout__region--second {
    flex: 0 0 auto;
  }

  > .layout__region--first {
    @media #{$m-from-m} {
      flex: none;
    }
  }

  > .layout__region--second {
    @media #{$m-from-l} {
      flex: none;
    }
  }

  img {
    @media #{$m-to-sm} {
      width: 100vw;
    }
  }

  .field--name-node-title h2 {
    margin-bottom: 0;
  }

  .field--name-dynamic-token-fieldnode-creation-date-teaser {
    @extend .text--tertiary;

    margin-bottom: 10px;

    @media #{$m-from-lm} {
      margin-bottom: 20px;
    }
  }
}

.view-display-id-content_list_news .views-row:first-child,
.view-display-id-content_list_lecture .views-row:first-child {
  margin-top: 50px;

  @media #{$m-from-lm} {
    margin-top: 100px;
  }
}
