.paragraph--two-column {
  width: 100%;

  @media #{$m-from-l} {
    &--content {
      display: flex;
    }
  }

  &--content > div {
    width: 100%;

    @media #{$m-from-l} {
      width: 50%;
    }
  }

  .container {
    max-width: 585px;
    margin: 0 auto;
    padding: 0;

    @media #{$m-from-l} {
      margin: 0;
    }
  }

  .paragraph--text-element {
    margin: 0;
    padding: 40px 20px;
    background-color: $c-lightblue;

    @media #{$m-from-l} {
      display: flex;
      align-items: center;
      padding: 0 15px 0 7%;
    }

    &--title {
      @extend .h2;

      margin-bottom: 15px;
    }

    &--content {
      max-width: 350px;
      line-height: 1.889;
    }

    p {
      margin-bottom: 0;
    }
  }

  .paragraph--map-element {
    display: flex;
    min-height: 300px;

    @media #{$m-from-l} {
      min-height: 460px;
    }

    &--content {
      display: flex;
      width: 100%;
    }
  }

  .paragraph--map-element + .paragraph--text-element {
    padding-top: 40px;

    .container {
      max-width: 350px;
    }
  }

  .paragraph--type--media-element .field--name-field-ref-media {
    @extend .covering-image;
  }

  .paragraph--type--media-element img {
    width: 100%;
  }
}
