.paragraph--text-element {
  margin-bottom: 170px;

  &--title {
    @extend .h2;
  }

  &--link {
    @extend .button__secondary;

    width: 216px;
    padding-left: 33px;

    &::after {
      right: 33px;
    }

    a {
      color: $secondary-text-color;
    }
  }

  &--content {
    @extend .text--large;

    margin-bottom: 30px;

    @media #{$m-from-lm} {
      margin-bottom: 60px;
    }

    a {
      transition: color 0.3s;

      &:hover {
        color: $c-gold;
      }
    }
  }
}
