.paragraph--container.container-type--four_column {
  width: 100%;
  min-height: 550px;
  padding-top: 40px;
  padding-bottom: 120px;
  color: $secondary-text-color;

  @media #{$m-from-2l} {
    padding-top: 130px;
  }

  .container {
    position: relative;
  }

  .paragraph--container--header {
    display: flex;
    flex-direction: row;
    padding-bottom: 45px;

    @media #{$m-from-m} {
      justify-content: center;
    }

    @media #{$m-from-2l} {
      justify-content: space-between;
      padding-bottom: 70px;
    }
  }

  .paragraph--container--title {
    @extend .h2--with-border;
  }

  .paragraph--container--link {
    margin-top: 5px;

    @media #{$m-to-l} {
      position: absolute;
      top: 100%;
      left: 50%;
      transform: translateX(-50%);
    }

    a {
      @extend .button__primary;

      @media #{$m-from-2l} {
        width: 216px;
      }
    }
  }

  .paragraph--container--content {
    display: flex;
    flex-wrap: wrap;

    @media #{$m-from-xl} {
      justify-content: space-between;
    }

    .container {
      max-width: 260px;
      margin: 0 auto;
      padding: 0 10px;

      @media #{$m-from-xl} {
        max-width: none;
        padding: 0;
      }
    }

    .paragraph--text-element {
      max-width: 100%;
      flex: 100%;
      margin-bottom: 30px;

      @media #{$m-from-m} {
        flex: 50%;
      }

      @media #{$m-from-xl} {
        flex: 25%;
        max-width: 220px;
      }
    }

    .paragraph--text-element--title {
      @extend .h3;

      margin-bottom: 20px;
      font-weight: 400;
    }

    .paragraph--text-element--content {
      margin-bottom: 0;
      font-size: 18px;
      opacity: 0.5;

      @media #{$m-from-lm} {
        font-size: 16px;
      }
    }
  }
}
