.container-type--people {
  margin: 70px 0;

  @media #{$m-from-l} {
    margin: 100px 0;
  }

  @media #{$m-from-2l} {
    margin: 170px 0;
  }

  .view-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1020px;
    margin: 0 auto;
    padding: 0 20px;
    text-align: center;

    > .views-row {
      flex: 33.33333%;
      flex-grow: 0;
      flex-shrink: 0;
      min-width: 320px;
      max-width: 33.33333%;
      margin-bottom: 40px;
      padding: 0 40px;

      @media #{$m-from-l} {
        min-width: 240px;
      }
    }

    .field--name-field-media-image {
      margin-bottom: 20px;

      @media #{$m-from-lm} {
        margin-bottom: 30px;
      }
    }

    img {
      display: block;
      margin: 0 auto;
      text-align: center;
    }

    .field--name-node-title {
      @extend .text--large;

      font-weight: 500;
      line-height: 1.889;
      text-transform: uppercase;

      @media #{$m-from-lm} {
        margin-bottom: 5px;
      }
    }
  }
}
