.field--name-field-details {
  @extend .text--large;

  .field__label {
    @extend .h2;

    margin-bottom: 20px;

    @media #{$m-from-l} {
      margin-bottom: 40px;
    }
  }

  .paragraph--details {
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid $c-lightgray;
  }

  .paragraph--details--title {
    font-weight: normal;
    color: $c-gold1;
    text-transform: uppercase;
  }
}
