.view-projects-categories {
  .layout--twocol {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
    max-width: 100%;
    margin: 0;

    @media #{$m-from-l} {
      flex-direction: row;
    }

    .layout__region--first,
    .layout__region--second {
      width: 100%;
      margin: 0;
      flex: 0 0 auto;

      @media #{$m-from-l} {
        flex: 50%;
        width: 50%;
        max-width: 50%;
      }
    }
  }

  .views-row:first-child .layout--twocol {
    margin-top: 0;
  }

  .views-row:nth-child(odd) .layout--twocol {
    @media #{$m-from-l} {
      flex-direction: row-reverse;
    }
  }

  .layout--twocol .layout__region--first {
    display: flex;
    flex-direction: column;
    padding: 7%;
    background-color: $c-lightblue;

    @media #{$m-from-l} {
      min-height: 490px;
    }

    .field--name-field-header-text {
      @media #{$m-from-l} {
        flex-grow: 1;
        flex-shrink: 0;
        flex-basis: 0%;
      }
    }
  }

  .layout--twocol .layout__region--second {
    padding: 0;
    
    @media #{$m-from-l} {
      min-height: 490px;
    }
  }

  .field--name-node-title {
    h2 {
      margin-bottom: 25px;

      @media #{$m-to-sm} {
        margin-bottom: 15px;
      }
    }
  }

  .paragraph--type--text-element {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;

    @media #{$m-to-sm} {
      font-size: 14px;
    }
  }

  .field--name-field-footnote {
    @extend .text--secondary-with-border;
  }

  .paragraph--type--text-element div:nth-last-child(2) {
    margin-bottom: 40px;

    @media #{$m-to-m} {
      margin-bottom: 20px;
    }
  }

  .field--name-field-multiple-image,
  .field--name-field-multiple-image .field__item {
    @extend .covering-image;
  }

  img {
    @media #{$m-to-m} {
      position: initial;
    }
  }
}
