.view-projects-categories-filter- {
  height: 160px;

  .view-content {
    height: 160px;
    padding: 0 15px;
  }

  .slick--view--projects-categories-filter- {
    max-width: 1400px;
    height: 100%;
    margin: 0 auto;
  }

  .slick__slider {
    max-width: 1300px;
    width: calc(100% - 100px);
    height: 100%;
    margin: 0 auto;
  }

  .slick-list,
  .slick-track {
    height: 100%;
  }

  .slide__content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  .filter-link {
    font-size: 14px;
    text-align: center;
    transition: all 0.3s;
    cursor: pointer;
  
    &:hover {
      color: $c-gold;
  
      img {
        filter: invert(70%) drop-shadow(0 0 0 #b6a256) saturate(250%);
      }
    }
  }

  .field--name-field-media-image {
    margin-bottom: 15px;
  }

  .image-style-project-type-image {
    display: block;
    margin: 0 auto;
    height: 52px;
    width: auto;
    text-align: center;
    transition: filter 0.3s;
  }

  .ajax-progress {
    display: none;
  }
}
