.field--name-field-summary {
  .field__label {
    @extend .h2;

    margin-bottom: 20px;

    @media #{$m-from-l} {
      margin-bottom: 40px;
    }
  }

  .field__item {
    @extend .text--large;
  }
}
