.node--type-work.node--view-mode-full {
  .node__content > .field-group-wrapper > .field-group-wrapper:first-child {
    position: relative;
    min-height: 300px;
  
    @media #{$m-from-m} {
      min-height: 400px;
    }

    @media #{$m-from-2l} {
      display: flex;
      flex-direction: row-reverse;
      min-height: 580px;
    }
  }

  .node__content > .field-group-wrapper > .field-group-wrapper:last-child {
    @extend .container;

    display: grid;
    grid-template-columns: auto;
    grid-row-gap: 40px;
    justify-content: space-between;
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;

    @media #{$m-from-l} {
      grid-template-columns: 56% 29%;
      padding-top: 80px;
      padding-bottom: 80px;
    }
  }

  .field--name-field-header-text {
    padding: 40px 0;
    background-color: $c-lightblue1;

    @media #{$m-from-2l} {
      width: 50%;
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }
  }

  .paragraph--text-element {
    margin-bottom: 0;
    font-size: 16px;

    @media #{$m-from-2l} {
      padding-left: 20px;
    }

    @media #{$m-from-xxl} {
      padding-left: 0;
    }

    .container {
      max-width: 585px;
      
      @media #{$m-from-2l} {
        margin-right: 0;
        padding: 0 10% 0 0;
      }
    }

    &--title {
      @extend .h1--without-border;

      margin-bottom: 20px;

      @media #{$m-from-2l} {
        margin-bottom: 50px;
      }
    }

    &--content {
      margin-bottom: 20px;

      @media #{$m-from-2l} {
        margin-bottom: 40px;
      }
    }

    &--footnote {
      @extend .text--secondary-with-border;
    }
  }

  .slick--optionset--work-slider {
    @media #{$m-from-2l} {
      width: 50%;
    }

    .slick__slider,
    .slick-list,
    .slick-track,
    .slide__content,
    .media--image {
      height: 100%;
    }

    .slick__slide {
      position: relative;
    }

    img {
      height: 300px;
      width: 100%;
      object-fit: cover;
  
      @media #{$m-from-m} {
        height: 400px;
      }
  
      @media #{$m-from-2l} {
        height: 100%;
      }
    }
  }

  .slick-dots {
    display: flex;
    position: absolute;
    bottom: 0;
    right: 50%;
    transform: translateX(50%);
    list-style: none;
    padding: 0;

    li:not(:last-child) {
      margin-right: 20px;

      @media #{$m-from-2l} {
        margin-right: 15px;
      }
    }

    button {
      width: 20px;
      height: 20px;
      border: 2px solid $c-white;
      border-radius: 50%;
      padding: 0;
      background-color: transparent;
      font-size: 0;

      @media #{$m-from-2l} {
        width: 16px;
        height: 16px;
        border: 1px solid $c-white;
      }
    }

    .slick-active {
      button {
        background-color: $c-white;
      }
    }
  }
}
