.paragraph--quote-element {
  margin-top: 50px;
  margin-bottom: 50px;

  @media #{$m-from-lm} {
    margin-top: 90px;
    margin-bottom: 90px;
  }

  .container {
    max-width: 600px;
    margin: 0 auto;
    padding: 0 5px;
  }

  &--title {
    @extend .h2;

    text-align: center;
  }

  &--quote {
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 16px;
    font-weight: 100;
    font-style: italic;
    line-height: 1.667;
    text-align: center;

    @media #{$m-from-lm} {
      padding-top: 30px;
      padding-bottom: 30px;
      font-size: 24px;
    }

    &::before,
    &::after {
      display: block;
      content: '';
      position: relative;
      left: 50%;
      transform: translateX(-50%);
      max-width: 227px;
      height: 1px;
      background-color: rgba($c-gray, 0.2);
    }

    &::before {
      margin-bottom: 20px;

      @media #{$m-from-lm} {
        margin-bottom: 50px;
      }
    }

    &::after {
      margin-top: 20px;

      @media #{$m-from-lm} {
        margin-top: 50px;
      }
    }
  }

  &--author {
    color: $c-gold1;
    font-family: DroidSerifItalic, serif;
    font-size: 16px;
    line-height: 1.556;
    text-align: center;
  }
}
