.search-button {
  display: flex;
  align-items: center;
  padding: 10px;
  box-sizing: content-box;

  @media #{$m-from-l} {
    display: none;
  }

  &::after {
    @include sprite-width($search-icon-lg);
    @include sprite-height($search-icon-lg);
    @include sprite-position($search-icon-lg);

    content: "";
    background-image: url('../img/sprite.png');
    cursor: pointer;
  }
}
