.path-search {
  .page__content {
    @extend .container;
  }

  .item-list {
    margin-top: 20px;
  }

  h2 + .item-list {
    margin-top: 0;
  }

  .item-list ul {
    margin-left: 20px;
  }

  .item-list .search-results {
    padding-left: 0;
  }

  .item-list li {
    margin-left: 0;
    margin-bottom: 25px;
  }

  .search-result__title {
    margin-bottom: 10px;
    font-weight: normal;
  }

  .search-result__title a {
    color: $c-gold;

    &:hover {
      text-decoration: underline;
    }

    &:visited {
      color: lighten($c-gold, 25%);
    }
  }

  .search-result__snippet-info p {
    margin-bottom: 5px;
  }
}
