.search-block-form,
.search-form {
  position: relative;

  .container-inline.form-wrapper {
    position: relative;
  }

  .form-type-search::after {
    content: "";
    display: block;
    position: absolute;
    bottom: 20px;
    left: 24px;
    transform: translateY(50%);
    width: $search-icon-sm-width;
    height: $search-icon-sm-height;
    background-image: url("../img/sprite.png");
    background-position: $search-icon-sm-offset-x $search-icon-sm-offset-y;
    background-repeat: no-repeat;

    @media #{$m-to-m} {
      bottom: 26px;
    }
  }

  input[type="search"].form-search {
    display: block;
    box-sizing: border-box;
    border: 1px solid rgba($c-gray, 0.3);
    border-radius: 50px;
    padding-left: 48px;
    width: 192px;
    height: 40px;
    font-size: 15px;
    letter-spacing: 0.75px;
    line-height: 2.667;

    @media #{$m-to-m} {
      height: 52px;
      width: 260px;
    }
  }
}

.search-block-form form {
  padding: 0;
}

.search-form {
  max-width: 100%;
  margin: 30px 0;
  padding: 0;

  .form-wrapper {
    margin-bottom: 20px;
  }

  .form-search {
    margin-top: 10px;
  }

  .search-help-link {
    color: $c-gray;
    text-decoration: underline;
  }
}

.search-block-form .form-submit,
.search-form .container-inline .form-submit {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 1;
  width: 40px;
  height: 40px;
  padding-left: 40px;
  border: 0;
  background-color: transparent;
  color: transparent;

  @media #{$m-to-m} {
    height: 52px;
    padding-left: 40px;
  }

  &:hover {
    background-color: transparent;
    box-shadow: none;
  }
}
