.container-type--skills {
  padding: 10%;

  @media #{$m-from-2l} {
    padding-right: 0;
  }

  .paragraph--container--title {
    @extend .h2;
  }

  .paragraph--scale {
    padding-top: 20px;
    padding-bottom: 20px;

    &--title {
      @extend .text--large;

      margin-bottom: 15px;
    }

    &--label {
      position: absolute;
      top: 130%;
      left: 50%;
      transform: translateX(-50%);
      padding: 0 5px;
      border-radius: 5px;
      background-color: $c-black2;
      color: $secondary-text-color;
      font-size: 12px;
      visibility: hidden;
      opacity: 0;
      transition: opacity 0.3s;

      &::before {
        content: "";
        position: absolute;
        bottom: 100%;
        left: 50%;
        transform: translateX(-50%);
        border-width: 5px;
        border-style: solid;
        border-color: transparent transparent $c-black2 transparent;
      }
    }

    &--scale {
      position: relative;
      height: 13px;
      background-color: $c-lightblue;

      &:hover .paragraph--scale--label {
        visibility: visible;
        opacity: 1;
      }
    }

    .field--name-field-number {
      width: 0;
      height: 13px;
      font-size: 0;
      background-color: $c-gold;
      text-align: center;

      &.animated {
        transition: width 2s ease-in;
      }
    }
  }
}
