.slick-arrow {
  width: 40px;
  height: 40px;

  &::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    border: 1px solid $c-gold;
    border-radius: 50%;
    transition: all 0.3s;
  }

  &::after {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    width: 11px;
    height: 11px;
    border-left: 1px solid $c-gold;
    border-bottom: 1px solid $c-gold;
    transition: all 0.3s;
  }

  &:hover {
    &::before {
      background-color: $c-gold;
    }

    &::after {
      border-left: 1px solid $c-white;
      border-bottom: 1px solid $c-white;
    }
  }
}

.slick-prev {
  display: none;

  &::after {
    left: 16px;
    transform: translateY(-50%) rotate(45deg);
  }
}

.slick-next {
  display: none;

  &::after {
    right: 16px;
    transform: translateY(-50%) rotate(225deg);
  }
}
