.social-media-links--platforms {
  margin: 0;

  li {
    margin-right: 10px;

    @media #{$m-from-l} {
      margin-right: 0;
    }

    @media #{$m-from-xl} {
      margin-right: 20px;
    }
  
    &:last-child {
      margin-right: 0;
    }
  }

  li a {
    color: $c-black;
    font-size: 17px;
    transition: color 0.3s;

    &:hover {
      color: $c-gold;
    }
  
    @media #{$m-to-m} {
      color: rgba($c-white, 0.5);
      font-size: 20px;

      &:hover {
        color: $c-gold1;
      }
    }
  }
}
