.container-type--terms_grid {
  padding-top: 70px;
  padding-bottom: 20px;

  @media #{$m-from-xxl} {
    padding-top: 170px;
    padding-bottom: 80px;
  }

  .field--name-field-ref-term {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1020px;
    margin: 0 auto;
    text-align: center;

    > .field__item {
      flex: 33.33333%;
      flex-grow: 0;
      flex-shrink: 0;
      min-width: 240px;
      max-width: 33.33333%;
      margin-bottom: 60px;
      padding: 0 20px;
      
      @media #{$m-from-m} {
        padding: 0 30px;
      }
      
      @media #{$m-from-l} {
        min-width: 260px;
        margin-bottom: 90px;
        padding: 0 45px;
      }
    }
  }

  .field--name-field-image {
    margin-bottom: 20px;
  }

  .field--name-taxonomy-term-title h2 {
    @extend .text--large;

    margin-bottom: 10px;
  }

  .field--name-description {
    @media #{$m-to-sm} {
      font-size: 14px;
    }
  }
}
