.typography-block {
  background-color: $c-lightblue;
  padding-top: 70px;
  padding-bottom: 70px;

  @media #{$m-from-l} {
    padding-top: 170px;
    padding-bottom: 250px;
  }

  .container {
    @media #{$m-from-l} {
      display: flex;
    }
  }

  &__content,
  &__sidebar {
    width: 100%;
    margin-bottom: 40px;
  }

  &__content {
    @media #{$m-from-l} {
      width: 60%;
    }
  }

  &__main {
    padding-bottom: 30px;

    p {
      margin-bottom: 30px;
      letter-spacing: 0.7px;

      @media #{$m-from-l} {
        margin-bottom: 60px;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &__secondary {
    display: flex;
    flex-wrap: wrap;
    /* stylelint-disable */
    /* stylelint-enable */

    @media #{$m-from-m} {
      width: 78%;
    }

    > *:nth-child(odd) {
      width: 40%;
      padding-right: 10px;

      @media #{$m-from-m}{
        padding-right: 7%;
      }
    }

    > *:nth-child(even) {
      width: 60%;
    }
  }

  &__sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 8px;

    @media #{$m-from-l} {
      align-items: flex-end;
      width: 40%;
    }

    &--item {
      margin-bottom: 30px;

      @media #{$m-from-l} {
        margin-bottom: 80px;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }

    &--item-row {
      display: flex;
    }

    &--item-row div {
      width: 48px;
      height: 48px;
      margin-left: 20px;

      &:first-child {
        margin-left: 0;
      }
    }

    .text-color-main {
      background-color: $c-black2;
    }

    .text-color-secondary {
      background-color: $c-gold;
    }

    .text-color-tertiary {
      background-color: $c-white;
    }

    button {
      position: relative;
      width: 196px;
      padding-left: 40px;
      cursor: auto;

      &::before {
        content: "Learn more";
        position: absolute;
        top: 0;
        left: 40px;
        font-weight: 500;
        line-height: 3.25;
      }

      &::after {
        right: 33px;
      }

      &:first-child {
        margin-bottom: 10px;

        @media #{$m-from-l} {
          margin-bottom: 25px;
        }
      }
    }
  }
}
