.works-container .views-infinite-scroll-content-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 80px;

  > div {
    flex: 0 0 100%;
    width: 100%;
    
    @media #{$m-from-m} {
      flex: 0 0 50%;
      width: 50%;
    }

    @media #{$m-from-lm} {
      flex: 0 0 33.33333%;
      width: 33.33333%;
    }
  }
}

.node--type-work.node--view-mode-teaser {
  position: relative;
  min-height: 150px;

  .field--name-field-multiple-image {
    .image-style-work-teaser {
      @media #{$m-from-m} {
        width: 100%;
      }
  
      @media #{$m-from-lm} {
        width: auto;
      }
    }
  }

  .field-group-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: $c-black2;
    opacity: 0;
    transition: $default-transition;
    overflow: hidden;

    &:hover {
      opacity: 0.85;
    }

    .field--name-node-title h2 {
      color: $secondary-text-color;

      @media #{$m-to-xl} {
        margin-bottom: 10px;
        font-size: 22px;
      }

      @media #{$m-lm} {
        margin-bottom: 0;
      }
    }

    .field--type-entity-reference {
      margin-bottom: 10px;
      font-weight: 500;
      color: $c-gold;

      @media #{$m-to-xl} {
        font-size: 14px;
        line-height: 1.5;
      }

      @media #{$m-lm} {
        margin-bottom: 0;
      }
    }
  }

  .node__links {
    font-size: 0;

    a {
      display: inline-block;
      width: $right-arrow-width;
      height: $right-arrow-height;
      background-image: url("../img/sprite.png");
      background-repeat: no-repeat;
      background-position: $right-arrow-offset-x $right-arrow-offset-y;
      color: transparent;
  
      &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
      }
    }
  }
}
