<div class="paragraph--slider-image paragraph--slider-image-content-alignment-{{ alignment.field_content_alignment }}">
  {% if background %}
    <div class="paragraph--slider-image--background">
      {{ background }}
    </div>
  {% endif %}
  
  <div class="paragraph--slider-image--content">
    <div class="container">
      <div class="container--small">
        {% if title|render|trim %}
        <div class="paragraph--slider-image--title">
          {{ title }}
        </div>
        {% endif %}
        {% if text|render|trim %}
          <div class="paragraph--slider-image--text">
            {{ text }}
          </div>
        {% endif %}
        {% if link|render|trim %}
          <div class="paragraph--slider-image--link">
            {{ link }}
          </div>
        {% endif %}
      </div>      
    </div>
  </div>  
</div>
