<div class="paragraph--banner">
  {% if background|render|trim %}
    <div class="paragraph--banner--image">
      {{ background }}
    </div>
  {%  endif %}  
  <div class="paragraph--banner--content">
    {% if title|render|trim %}
      <div class="paragraph--banner--title">
        {{ title }}
      </div>
    {%  endif %}
    {% if text|render|trim %}
      <div class="paragraph--banner--subtitle">
        {{ text }}
      </div>
    {%  endif %}
    {% if link|render|trim %}
      <div class="paragraph--banner--link">
        {{ link }}
      </div>
    {% endif %}
  </div>  
</div>
