/* ==========================================================================
   Base styles
   ========================================================================== */
/* stylelint-disable selector-max-universal  */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* stylelint-enable selector-max-universal */

html {
  font-family: $main-font;
  font-size: $main-font-size;
  font-weight: $main-font-weight;
  line-height: $main-line-height;
  color: $main-text-color;
  overflow-wrap: break-word;
  word-wrap: break-word;

  @media #{$m-from-lm} {
    font-size: 16px;
  }
}

body {
  background: $main-bg;
}

audio,
canvas,
iframe,
img,
svg,
video,
object,
input,
textarea {
  vertical-align: middle;
  max-width: 100%;
}

input,
textarea {
  font-family: $main-font;
}

img {
  height: auto;
}

textarea {
  resize: vertical;
}

button {
  font-family: $main-font;
  font-size: $main-font-size;
}

button,
input[type="submit"] {
  cursor: pointer;
}

a {
  color: $link-color;
  text-decoration: none;
}
