<div class="paragraph--quote-element">
  <div class="container">
    <div class="paragraph--quote-element--content" {{ attributes }}>
      {% if title|render|trim %}
        <div class="paragraph--quote-element--title">
          {{ title }}
        </div>
      {% endif %}
      {% if content|render|trim %}
        <div class="paragraph--quote-element--quote">
          {{ content }}
        </div>
      {% endif %}
      {% if author|render|trim %}
        <div class="paragraph--quote-element--author">
          {{ author }}
        </div>
      {% endif %}
    </div>
  </div>
</div>
