<div class="paragraph--container container-type--{{ settings.field_container_type }}" style="background-color: {{ settings.field_background_color }};">
  <div class="container">
    {% if title|render|trim or link|render|trim %}
      <div class="paragraph--container--header">
        {% if title|render|trim %}
          <div class="paragraph--container--title">
            {{ title }}
          </div>
        {%  endif %}
        {% if link|render|trim %}
          <div class="paragraph--container--link">
            {{ link }}
          </div>
        {%  endif %}
      </div>
    {%  endif %}
    <div class="paragraph--container--content">
      {{ content }}
    </div>
  </div>
</div>