<div class="field-group-wrapper">
  {% if title %}
  <{{ title_element }}{% if collapsible %} class="field-group-toggler"{% endif %}>{{ title }}</{{ title_element }}>
  {% endif %}
  {% if collapsible %}
  {% endif %}
  {{children}}
  {% if collapsible %}
  </div>
  {% endif %}
</div>
