<div class="paragraph--scale">
  <div class="container" {{ attributes }}>
    <div class="paragraph--scale--content">
      <div class="paragraph--scale--title">
        {{ title }}
      </div>
      <div class="paragraph--scale--scale">
        <span class="paragraph--scale--label"></span>
        {{ scale }}
      </div>
    </div>
  </div>
</div>
