<div class="paragraph--contact-form">
  <div class="container">
    <div class="paragraph--contact-form--content">
      {% if title|render|trim %}
        <div class="paragraph--contact-form--title">
          {{ title }}
        </div>
      {%  endif %}
      {{ content }}
    </div>
  </div>
</div>
