$container-gutter: 20px;
$container-width: calc(1140px + #{$container-gutter} * 2);
$col-gutter: $container-gutter;

$container-gutter-from-l: 15px;
$container-width-from-l: calc(1170px + #{$container-gutter-from-l} * 2);
$col-gutter-from-l: $container-gutter-from-l;

.clearfix {
  @include clearfix;
}

.container {
  @include clearfix;

  display: block;
  width: auto;
  max-width: $container-width;
  padding-left: $container-gutter;
  padding-right: $container-gutter;
  margin-left: auto;
  margin-right: auto;

  @media #{$m-from-l} {
    max-width: $container-width-from-l;
    padding-left: $container-gutter-from-l;
    padding-right: $container-gutter-from-l;
  }
}

.row {
  @include clearfix;

  display: block;
  margin-left: -$col-gutter;
  margin-right: -$col-gutter;
}

.col {
  display: block;
  float: left;
  padding-right: $col-gutter;
  padding-left: $col-gutter;
}
