body::after {
  content: "";
  display: block;
  position: fixed;
  top: 0;
  width: 100%;
  transition: background-color 0.5s ease;
}

body.menu-open {
  @media #{$m-to-m} {
    overflow: hidden;
    
    &::after {
      content: "";
      display: block;
      position: fixed;
      z-index: 5;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: rgba($c-black2, 0.5);
    }
  }
}
