.header {
  @media #{$m-to-m} {
    border-bottom: 1px solid rgba($c-gray, 0.2);
  }

  &--top {
    display: flex;
    align-content: center;
    height: 120px;

    @media #{$m-from-l} {
      grid-template-columns: 1fr auto 1fr;
      height: 180px;
    }
  }

  &--left {
    display: flex;
    justify-content: flex-start;
    flex: 50%;
    position: relative;
    align-items: center;

    .region-header-left {
      display: flex;
      align-items: center;

      & > div {
        @media #{$m-from-l} {
          margin-right: 20px;
        }

        @media #{$m-from-xl} {
          margin-right: 50px;
        }
      }
    }
  }

  &--center {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &--right {
    display: flex;
    justify-content: flex-end;
    flex: 50%;

    .region-header-right {
      display: flex;
      align-items: center;

      @media #{$m-to-m} {
        flex-direction: column;
        justify-content: center;
        position: fixed;
        top: 0;
        left: -100%;
        z-index: 160;
        height: 100%;
        width: 100%;
        transition: left 0.4s ease;
        background-color: rgba($c-black2, 0.9);
        will-change: left;
      }

      & > div {
        margin: 0 auto;

        @media #{$m-from-l} {
          margin-left: 20px;
        }

        @media #{$m-from-xl} {
          margin-left: 40px;
        }
      }

      &.is-open {
        left: 0;
      }
    }

    .block-social-media-links {
      @media #{$m-to-m} {
        display: none;
      }
    }
  }
  
  &--bottom {
    display: block;
    border-top: 1px solid rgba($c-gray, 0.2);

    @media #{$m-to-m} {
      display: none;
    }
  }
}
