.page {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;

  @media #{$m-from-l} {
    position: initial;
  }

  @media #{$m-from-2l} {
    padding-left: 37px;
    padding-right: 37px;
  }

  &__bottom {
    display: none;
    padding: 20px 0;

    @media #{$m-from-l} {
      display: block;
    }
  }

  &__footer {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 105px;
    border-top: 1px solid rgba($c-gray, 0.2);
    padding-top: 30px;

    .container {
      width: 100%;
    }
  }
}
