h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 25px;
  font-family: $heading-font;
}

h1,
.h1 {
  position: relative;
  padding-bottom: 20px;
  font-size: 35px;
  font-weight: 500;
  line-height: 1.079;
  text-transform: uppercase;

  @media #{$m-from-lm} {
    font-size: 40px;
  }

  @media #{$m-from-xxl} {
    font-size: 57px;
  }

  &::after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    width: 46px;
    height: 4px;
    background-color: $c-gold;

    @media #{$m-from-lm} {
      width: 80px;
      height: 6px;
    }
  }
}

.h1--without-border {
  @extend .h1;

  position: initial;
  padding: 0;

  &::after {
    display: none;
  }
}

h2,
.h2 {
  font-size: 22px;
  font-weight: 500;
  line-height: 1.5375;
  text-transform: uppercase;

  @media #{$m-from-lm} {
    font-size: 30px;
  }

  @media #{$m-from-xxl} {
    font-size: 40px;
  }
}

.h2--with-border {
  @extend .h1;
  @extend .h2;
}

h2 a {
  text-decoration: none;
  transition: color 0.3s;

  &:hover {
    color: $c-gold1;
  }
}

h3,
h4,
h5,
h6 {
  font-weight: 300;
  line-height: 1.5;
}

h3,
.h3 {
  font-size: 20px;
}

p {
  &:last-child {
    margin-bottom: 0;
  }
}

.text--main {
  font-size: 20px;
  font-weight: normal;
  line-height: 1.7;
}

.text--secondary {
  color: $c-gold1;
  font-family: DroidSerifItalic, serif;
  line-height: 1.8;
}

.text--secondary-with-border {
  @extend .text--secondary;

  position: relative;
  padding-top: 15px;
  font-size: 12px;

  @media #{$m-from-lm} {
    padding-top: 25px;
    font-size: 18px;
  }

  &::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    width: 80px;
    height: 6px;
    background-color: $c-gold;

    @media #{$m-to-sm} {
      width: 46px;
      height: 4px;
    }
  }
}

.text--tertiary {
  color: rgba($main-text-color, 0.5);
  font-size: 18px;
  line-height: 2;
}

.text--large {
  font-size: 16px;

  @media #{$m-from-lm} {
    font-size: 18px;
  }
}
