<div class="paragraph--text-image-element">
  <div class="container">
    <div class="paragraph--text-image-element--image">
      {{ image }}
    </div>
    <div class="paragraph--text-image-element--title">
      {{ title }}
    </div>
    <div class="paragraph--text-image-element--content">
      {{ content }}
    </div>
  </div>
</div>
