<div class="paragraph--text-element">
  <div class="container">
      {% if title|render|trim %}
        <div class="paragraph--text-element--title">
          {{ title }}
        </div>
      {%  endif %}
    <div class="paragraph--text-element--content">
      {{ content }}
    </div>
    {% if link|render|trim %}
      <div class="paragraph--text-element--link">
        {{ link }}
      </div>
    {%  endif %}
    {% if footnote|render|trim %}
      <div class="paragraph--text-element--footnote">
        {{ footnote }}
      </div>
    {%  endif %}
  </div>
</div>
