/* Colors */
$c-white: #fff;
$c-lightblue: #eaf0f0;
$c-lightblue1: #dde3e3;
$c-lightgray: #e2e2e2;
$c-gold: #b6a256;
$c-gold1: #a18f49;
$c-red: #f00;
$c-gray: #6e6e6e;
$c-black1: #0c0c0c;
$c-black2: #404049;
$c-black: #000;

/* Fonts */
$f-sans-serif: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;

/* Base variables */
$main-font: $f-sans-serif;
$main-font-size: 14px;
$main-font-weight: 300;
$main-line-height: 1.875;
$heading-font: $f-sans-serif;
$main-bg: $c-white;
$main-text-color: $c-black1;
$secondary-text-color: $c-white;
$link-color: $main-text-color;
$default-transition-time: 0.3s;
$default-transition: all $default-transition-time ease;

/* Media variables */
$m-3xl: screen and (min-width: 1921px);
$m-to-xxl: screen and (max-width: 1920px);
$m-from-xxl: screen and (min-width: 1280px);
$m-xxl: screen and (min-width: 1280px) and (max-width: 1920px);
$m-to-xl: screen and (max-width: 1279px);
$m-from-xl: screen and (min-width: 1024px);
$m-xl: screen and (min-width: 1024px) and (max-width: 1279px);
$m-to-2l: screen and (max-width: 1023px);
$m-from-2l: screen and (min-width: 860px);
$m-2l: screen and (min-width: 860px) and (max-width: 1023px);
$m-to-l: screen and (max-width: 859px);
$m-from-l: screen and (min-width: 768px);
$m-l: screen and (min-width: 768px) and (max-width: 859px);
$m-to-m: screen and (max-width: 767px);
$m-from-lm: screen and (min-width: 600px);
$m-lm: 'screen and (min-width: 600px) and (max-width: 767px)';
$m-to-sm: screen and (max-width: 599px);
$m-sm: 'screen and (min-width: 480px) and (max-width: 599px)';
$m-from-m: screen and (min-width: 480px);
$m-m: screen and (min-width: 480px) and (max-width: 768px);
$m-to-s: screen and (max-width: 479px);
$m-from-s: screen and (min-width: 321px);
$m-s: screen and (min-width: 321px) and (max-width: 479px);
$m-xs: screen and (max-width: 320px);

$m-retina2x: screen and (min-resolution: 120dpi), screen and (min-resolution: 1.25dppx);
