<header role="banner" class="page__header header">
  <div class="container">
    <div class="header--top">
      {% if page.header_left %}
        <div class="header--left">
          {{ page.header_left }}
          <div class="menu-button">
            <span class="icon"></span>
          </div>
        </div>
      {% endif %}
      {% if page.header_center %}
        <div class="header--center">
          {{ page.header_center }}
        </div>
      {% endif %}
      {% if page.header_right %}
        <div class="header--right">
          {{ page.header_right }}
          <div class="search-button"></div>
        </div>
      {% endif %}
    </div>
  </div>
  {% if page.header_bottom %}
    <div class="header--bottom">
      <div class="container">
        {{ page.header_bottom }}
      </div>
    </div>
  {% endif %}
  {% if page.mobile_menu %}
    <div class="mobile-menu">
      <div class="container">
        {{ page.mobile_menu }}
      </div>
    </div>
  {% endif %}
</header>
